*
!.gitignore
!Makefile
!darray.c
!darray.h
!darray_iterator.c
!darray_iterator.h
!dlist.c
!dlist.h
!dlist_iterator.c
!dlist_iterator.h
!invert.c
!invert_ng.c
!iterator.h
!linear_container.h
!linear_container_darray.c
!linear_container_darray.h
!linear_container_dlist.c
!linear_container_dlist.h
!linear_container_test.c
!test_helper.c
!typedef.h
